<div class="container">
  <h1>index</h1>
  <svg width="720" height="120">
    <circle id="one" cx="40" cy="60" r="10"></circle>
    <circle id="two" cx="80" cy="60" r="10"></circle>
    <circle id="three" cx="120" cy="60" r="10"></circle>
  </svg>
</div>
